.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
}
.app__navbar-links{
    list-style: none;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app__navbar-links li{
    margin: 0 1rem;
    cursor: pointer;
}
.app__navbar-links li:hover {
    color: var(--color-grey);
}
.app__navbar-logins{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.app__navbar-logins a {
    margin: 0 1rem;
    transition: .5s ease;
}

.app__navbar-logins a:hover {
    border-bottom: 1px solid var(--color-white);
}
.app__navbar-logins button{
    color: var(--color-white);
    background: #0000ff;
    padding:.8rem 1rem ;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    font-family: var(--font-alt);
    border: none;
    outline: none;
    border-radius: 2px;
}
.app__navbar-smallscreen {
    display: none;
}

.app__navbar-smallscreen_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-bluedark);
    transition: .5s ease;
    flex-direction: column;
    z-index: 5;
}
.app__navbar-smallscreen_links {
    list-style: none;
}
.app__navbar-smallscreen_links li {
    margin: 2rem;
    cursor: pointer;
    color: var(--color-white);
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base);
}
.app__navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: var(--color-white);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}
@media screen and (max-width: 1150px) {
    .app__navbar-links {
        display: none;
    }
    .app__navbar-smallscreen {
        display: flex;
    }    
}
@media screen and (max-width: 650px) {
    .app__navbar {
        padding: 1rem;
    }
    .app__navbar-logo h1{
        font-size: 10px;
    }
    .app__navbar-logins button{
        padding:.5rem .7rem ;
        font-size: 12px;
        line-height: 20px;       
    }
}
